<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<display-name>YUMA Annotation Server</display-name>
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>

	<!--  the RESTeasy Client Framework doesn't work with the 
		ThreadLocalResteasyProviderFactory so we turn off the deployment sensitive factory -->
	<context-param>
		<param-name>resteasy.use.deployment.sensitive.factory</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>annotation.base.url</param-name>
		<param-value>http://localhost:8089/yuma-server/</param-value>
	</context-param>
	
	<!--  HIBERNATE  -->
	<!--  Make sure your database supports UTF8 encoding! -->
	<!-- 	
	<context-param>
		<param-name>annotation.db.impl</param-name>
		<param-value>at.ait.dme.yuma.server.db.hibernate.HibernateAnnotationDB</param-value>
	</context-param>
	
	<context-param>
		<param-name>annotation.db.host</param-name>
		<param-value>localhost</param-value>
	</context-param>
	
	<context-param>
		<param-name>annotation.db.port</param-name>
		<param-value>5432</param-value>
	</context-param>
	
	<context-param>
		<param-name>annotation.db.name</param-name>
		<param-value>annotations</param-value>
	</context-param>

	<context-param>
		<param-name>annotation.db.user</param-name>
		<param-value>postgres</param-value>
	</context-param>

	<context-param>
		<param-name>annotation.db.pass</param-name>
		<param-value>postgres</param-value>
	</context-param>

	<context-param>
		<param-name>annotation.db.dir</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>annotation.db.flags</param-name>
		<param-value></param-value>
	</context-param>
		
	<context-param>
		<param-name>annotation.db.lock.manager</param-name>
		<param-value></param-value>
	</context-param>
	
	<context-param>
		<param-name>annotation.db.driver</param-name>
		<param-value>org.postgresql.Driver</param-value>
	</context-param>	
	
	<context-param>
		<param-name>annotation.db.driver.protocol</param-name>
		<param-value>jdbc:postgresql</param-value>
	</context-param>
	-->	
	
	<!--  MONGODB  -->
	<!--  Make sure your database supports UTF8 encoding!  -->	
	<context-param>
		<param-name>annotation.db.impl</param-name>
		<param-value>at.ait.dme.yuma.server.db.mongodb.MongoAnnotationDB</param-value>
	</context-param>
	
	<context-param>
		<param-name>annotation.db.host</param-name>
		<param-value>localhost</param-value>
	</context-param>
	
	<context-param>
		<param-name>annotation.db.port</param-name>
		<param-value>27017</param-value>
	</context-param>
	
	<context-param>
		<param-name>annotation.db.name</param-name>
		<param-value>annotations</param-value>
	</context-param>

	<context-param>
		<param-name>annotation.db.user</param-name>
		<param-value>mongodb</param-value>
	</context-param>

	<context-param>
		<param-name>annotation.db.pass</param-name>
		<param-value>mongodb</param-value>
	</context-param>

	<context-param>
		<param-name>annotation.db.dir</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>annotation.db.flags</param-name>
		<param-value></param-value>
	</context-param>
		
	<context-param>
		<param-name>annotation.db.lock.manager</param-name>
		<param-value></param-value>
	</context-param>
	
	<context-param>
		<param-name>annotation.db.driver</param-name>
		<param-value></param-value>
	</context-param>	
	
	<context-param>
		<param-name>annotation.db.driver.protocol</param-name>
		<param-value></param-value>
	</context-param>	
			
	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ConfigServlet</servlet-name>
		<servlet-class>at.ait.dme.yuma.server.config.ConfigServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
</web-app>
