.header h1 {
	width:600px;
}

.header .heading {
	margin:0px;
	padding:0px;
	display:block;
	float:left;
}

.header .feed-icon {
	margin:-5px 0px 5px 0px;
	width:28px;
	height:28px;
	padding:0px 3px;
	display:block;
	float:right;
}

.navigation {
	width:600px;	
}

.navigation p {
	padding:0px;
	margin:0px;
}

.navigation .home {
	padding-bottom:0px;
}

div.annotation {
	margin:20px auto 10px auto;
	width:600px;
	line-height:16px;
}

table {
	margin:10px 0px 25px 0px;
	width:100%;
	border-spacing:0px 2px;
	empty-cells:show;
}

td {
	text-align:left;
	padding:5px;
	margin:0px;
	font-size:12px;
}

td.feedicon {
	width:28px;
	margin:0px;
	padding:0px;
}

td.feedicon img {
	float:left;
}

td.title{
	width:62px;
}

td.title img {
	padding:0px;
	margin:0px;
}

td.label {
	width:90px;
	color:#000;
	border-width:1px 0px 1px 1px;
	border-style:solid;
	border-color:#cecece;
	background-color:#e2e2e2;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

td.content {
	width:410px;
	border-width:1px 1px 1px 0px;
	border-style:solid;
	border-color:#cecece;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

a.btn-json, a.btn-rdf {
	font-size:9px;
	padding:1px 3px;
	position:relative;
	top:-1px;
}

a.btn-json:hover, a.btn-rdf:hover {
	text-decoration:none;
}

td.content a.btn-json {
	color:#e20000;
	border:1px solid #e20000;
	background-color:#ffe2e2;
}

td.content a.btn-rdf {
	color:#0000e2;
	border:1px solid #0000e2;
	background-color:#e2e2ff;
}

a {
	color:#790b1a;
	text-decoration:none;
}

a:visited {
	color:#790b1a;
}

a:hover {
	text-decoration:underline;
}
