div.annotation {
	margin:10px auto 10px auto;
	width:600px;
	line-height:1.1em;
}

table {
	margin:10px 0px 25px 0px;
	width:100%;
	border-spacing:0px 2px;
	empty-cells:show;
}

td {
	text-align:left;
	padding:5px;
	margin:0px;
	font-size:12px;
}

td.feedicon {
	width:28px;
	margin:0px;
	padding:0px;
}

td.feedicon img {
	float:left;
}

td.title{
	width:62px;
}

td.title img {
	padding:0px;
	margin:0px;
}

td.label {
	width:90px;
	color:#000;
	border-width:1px 0px 1px 1px;
	border-style:solid;
	border-color:#cecece;
	background-color:#e2e2e2;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

td.content {
	width:410px;
	border-width:1px 1px 1px 0px;
	border-style:solid;
	border-color:#cecece;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

a {
	color:#790b1a;
	text-decoration:none;
}

a:visited {
	color:#790b1a;
}

a:hover {
	text-decoration:underline;
}
