body {
	color:#000;	
	background-color:#e2e2e2;
}

.content {
	text-align:left;
	margin:10px auto 10px auto;
	padding:5px 15px;
	width:600px;
	line-height:16px;
	font-size:12px;
	background-color:#fff;
	border:1px solid #cecece;
	-moz-border-radius: 5px;
	border-radius: 5px;
}